.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
